              *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                scroll-behavior: smooth;
              }
              body{
                font-family: Georgia, Times, 'Times New Roman', serif;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                background-color: #efd9cb;
              }
              header{
                display: flex;
                justify-content:space-between;
                align-items: center;
                width:1110px;
                border-bottom: 2px solid #602712;
              }
              .icon{
                font-weight: 500;
                font-size: 26px;
                margin-bottom: 12px;
                color: #9a5221;
                }
              .icon img{
                width:50px;
                margin-bottom: -10px;
                margin-right: 4px;
              }
               nav a{
                text-decoration: none;
                color: rgb(112, 70, 27);
                gap:5px;
                margin-left: 50px;
                font-weight: 500;
                font-size: 15px;
            
              }
              nav a:hover{
                color: rgb(168, 84, 29);
                font-weight: 600;
              }
              nav a.active{
                color: rgb(101, 43, 5);
                font-weight: 700;
                font-size: 18px;
              }
              .section #home{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
              }
              .section #about,#courses,#shop,#contact{
                 font-family:'Times New Roman', Times, serif; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 50px;
              }
              .main{
               background-image: url("soap.jpeg");
               width:1100px;
               height: 350px;
               display: flex;
               flex-direction: column;
               justify-content: end;
               margin-top: 30px;
              }
              .main h1{
                margin-left: 40px;
                font-size: 35px;
                margin-bottom: 40px;
                line-height: 40px;
                font-weight: 500;
                color: rgb(69, 32, 3);
               }
              .main2{
                display: flex;
                flex-direction: row;
                align-content:space-between;
                gap:15px;
                margin-top: 50px;
              }
              .subdiv1{
                width:450px;
                height:200px;
                color:#9a5221;
                font-weight: 500;
                text-align: justify;
               
              }
              .subdiv1 button{
                display: flex;
                flex-direction:initial;
                background-color: rgb(174, 120, 104);
                width:180px;
                border:none;
                border-radius: 12px;
                font-size: 16px;
                padding: 7px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: white;
            }
             button:hover{
                background-color: rgb(146, 104, 88);
                color: #fff;
                font-weight: 700;
              }    
            .subdiv1 p{
                 margin: 20px 0;
                  font-size: 15px;
                line-height: 1.3;
                text-align: justify;
               color:rgb(78, 40, 14);
               
            }
              .subdiv2{
              width: 200px;
              height: 200px;
              }
              .subdiv2 img{
                width: 200px;
                height:200px;
              }
               .subdiv3{
                width: 200px;
                height:200px;
              }
              .subdiv3 img{
                width:200px;
                height:200px;
              }
              .subdiv4{
                width: 200px;
                height:200px;
              }
              .subdiv4 img{
                width:200px;
                height:200px;
              }
              .main3{
                display: flex;
                flex-direction: row;
                gap:50px;
                width:1030px;
                 margin-top: 85px;
                margin-right: 75px;
              }
              .container3 img{
                width:500px;
                height:600px;
              }
              .message #top{
                font-weight: 600;
                color: #9f3809;
                font-size: 18px;
                margin-top: 40px;
              }
              .message h1{
               color: #220b03;
               margin-top: -10px;
               font-size: 40px;
              }
              p{
                margin-top:-18px;
                text-align: justify;  
                font-size: 18px;     
                       
                }
                .message button{
                   margin-left: 350px;
                    background-color: rgb(204, 169, 143);
                    border:none;
                    border-radius: 16px;
                    width:190px;
                    font-size: 16px;
                    padding:5px;
                    margin-top: 40px;
                    color: white;
                    font-weight: 600;
            }
             button:hover{
                background-color: rgb(167, 128, 104);
                color: #fff;
                font-weight: 700;
              }    
            .container4{
                display: flex;
                flex-direction: row;
                width: 1110px;
                height: 200px;
                margin-top: 70px;
                gap:25px;
              }  
               .container5{
                display: flex;
                flex-direction: row;
                width: 1110px;
                height: 200px;
                margin-top: 90px;
                margin-bottom: 40px;
                gap:25px;
              } 
              .subdiv5 img{
                width:500px;
                height:250px
              } 
              .subdiv6 h1{
                font-size: 40px;
                color: #602712;

              }   
              .subdiv6 #lowhead{
                 font-size: 18px;
                 color: #9a5221;
          
              } 
              .subdiv6 p{
                text-align: justify;
              }
              .subdiv8 img{
                width: 500px;
                height:250px;
              }
              .subdiv7 h1{
                font-size: 40px;
                color: #602712;
              }   
              .subdiv7 #lowhead{
                 font-size: 18px;
                 color: #9a5221;
            
              } 
              .subdiv7 p{
                text-align: justify;  
              }  
               .subdiv6 button{
                   margin-left: 420px;
                    background-color: rgb(206, 190, 132);
                    border:none;
                    border-radius: 16px;
                    width:160px;
                    font-size: 16px;
                    padding:5px;
                    margin-top: 20px;
                    color: white;
                    font-weight: 600;
               }
                 .subdiv7 button{
                   margin-left: 420px;
                    background-color: rgb(206, 190, 132);
                    border:none;
                    border-radius: 16px;
                    width:160px;
                    font-size: 16px;
                    padding:5px;
                    margin-top: 20px;
                    color: white;
                    font-weight: 600;
                  }
                 button:hover{
                background-color: rgb(197, 159, 76);
                color: #fff;
                font-weight: 700;
                 }    
                .container6{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-bottom: 1px solid black;
                width:1050px;
                font-size: 32px;
                margin-top: 15px;
                color: #602712;
              }
               .subdiv13{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 750px;
                font-size: 18px;
                margin-top: 40px;
              }
              .subdiv13 p{
                text-align: center;
              }
              .container7{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap:10px;
               margin-top: -40px;
              }
              .subdiv9{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgb(242, 235, 235);
              }
              .subdiv9 img{
                width: 250px;
                height:270px;
                padding: 8px;
              }
               .subdiv10{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               background-color: rgb(242, 235, 235);
              }
              .subdiv10 img{
                width: 250px;
                height:270px;
                padding: 8px;
              }
               .subdiv11{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               background-color:rgb(242, 235, 235);
              }
              .subdiv11 img{
                width: 250px;
                height:270px;
                padding: 8px;
              }
               .subdiv12{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgb(242, 235, 235);

              }
              .subdiv12 img{
                width: 250px;
                height:270px;
                padding: 8px;
              }
              .container7 h2{
                color: #522609;
                margin-top: -1px;
              }
              .container7 p{
                margin-top: -12px;
                font-size: 16px;
              }
              .container7 button{
                width: 150px;
                background-color: rgb(208, 183, 133);
                font-weight: 700;
                border: none;
                padding: 3px;
                margin-bottom: 15px;
                margin-top: -6px;
              }
               button:hover{
                background-color: rgb(205, 191, 157);
                font-weight: 700;
              }    
              .main4{
                display: flex;
                flex-direction: row;
                gap:120px;
                margin-top: 90px;
                margin-left: 100px;
              }
              .container8{
                width: 500px;
            
              }
              .container9{
                width:550px;
                margin-top: 40px;
              }
              .container9 input[name="name"],input[name="email"],input[name="subject"]{
                width:450px;
                background-color:  rgb(207, 190, 128);
                font-weight: 600;
                height: 40px;
                border: none;
               
                
              }
              input::placeholder{
               color: #000000;
               padding: 5px;
                
              }
              .container9 textarea{
                width:450px;
                height:170px;
                border: none;
                background-color: rgb(207, 190, 128);
                font-weight: 600;
               font-size: 16px;
              
              }
              textarea::placeholder{
                color: #000000;
                padding: 5px;
              }
              .container9 button{
                   margin-left: 285px;
                    background-color:  rgb(207, 190, 128);
                    border:none;
                    border-radius: 16px;
                    width:170px;
                    font-size: 16px;
                    padding:6px;
                    margin-top: -8px;
                    color: white;
                    font-weight: 600;
              }
              button:hover{
                background-color: rgb(197, 159, 76);
                color: #fff;
                font-weight: 700;
              }    
              .container8 h1{
                font-size: 50px;
                color:#602712
              }
              .container8 #italic{
                font-size:18px ;
                color:#2b150d;
                margin-top: -30px;
                
              }
              .container p{
                font-size: 16px;
                text-align: justify;
                color: #271007;
              }
              .container8 h3{
                font-size: 25px;
                color: #341408;
              }
              .container8 #mail{
                font-size: 17px;
                color: #210d05;
              }
              footer{
                text-align: center;
                padding: 20px;
                font-size: 19px;
                margin-top:80px;
            }
              footer a{
                text-decoration: none;
                 text-align: center;
                 font-size: 17px;
              }
              footer #bottom{
                margin-top: px;
                margin-left: 70px;
              }
              footer a:hover{
                color:#2d087d;
              }
            
@media (max-width: 480px) {
   
              header{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
              }
              nav a{
                margin-left: 7px;
              }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
  }

  .main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   gap:15px;
  }
  .subdiv1{
    width: 400px;
  }
  .subdiv1 button{
  margin-left: 115px;
  }
.main3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container3 img{
     width: 350px;
     height: 400px;
     margin-left: 70px;
  }
  .message{
    width:350px;
    margin-left: 70px;
  }
  .message button{
    margin-left: 160px;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:370px;
  }
  .subdiv5{
    margin-bottom: -280px;
  }
  .subdiv5 img{
    width: 350px;
    margin-bottom:-150px ;
    height:150px;
  }
.subdiv6{
  margin-top:400px ;
  width: 350px;
}
.subdiv6 button{
  margin-left: 190px;
}
.subdiv7{
  margin-bottom: -180px;
  width: 350px;
}
.subdiv7 button{
margin-left: 190px;
}
.subdiv8{
margin-top: -150px;
}
.subdiv8 img{
  width: 350px;
    
    height:150px;
}
.subdiv13{
  width:400px;
 
}
.container6 h1{
  margin-top: 150px;
}
  .container7 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
 .main4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-top: 0px;
 }
  .container8 {
    width: 350px;
    margin-left: 0px;
  }
  .container9 textarea{
  margin-left: 90px;
   width:350px;
}
.container9 input[name="name"],input[name="email"],input[name="subject"]{
  width:350px;
  margin-left: 90px;
}

            }

@media (max-width: 768px) {
   header{
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                 border-bottom: 2px solid #602712;
                gap:200px;
              }
              nav a{
                margin-left: 7px;
              }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px
  }
.main1{
  width: 600px;
}
  .main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-bottom: 100px;
   gap:15px;
  }
  .subdiv1{
    width: 650px;
  }
  .subdiv1 button{
  margin-left: 240px;
  }
.main3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container3 img{
     width: 500px;
     height: 600px;
     margin-left: 70px;
  }
  .message{
    width:600px;
    margin-left: 70px;
  }
  .message button{
    margin-left: 410px;
  
    margin-bottom: 100px;
  }
  .container4, .container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
  }
   .subdiv5{
    margin-bottom: -280px;
  }
  .subdiv5 img{
    width: 500px;
    margin-bottom:-150px ;
    height:250px;
  }
.subdiv6{
  margin-top:400px ;
  width: 550px;
}
.subdiv6 button{
  margin-left: 390px;
}
.subdiv7{
  margin-bottom: 50px;
  width: 550px;
}
.subdiv7 button{
margin-left: 390px;
}
.subdiv8{
margin-bottom:-200px;
}
.subdiv8 img{
  width: 500px;
    margin-bottom:-200px;
    height:250px;
}
.subdiv13{
  width:550px;

}
.container6 h1{
  margin-top: 400px;
}
  .container7 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
 .main4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-top: 0px;
 }
  .container8 {
    width: 550px;
    margin-left: 0px;
  }
  .container9 textarea{
     width:550px;
}
.container9 input[name="name"],input[name="email"],input[name="subject"]{
  width:550px;
  
}
.container9 button{
 margin-left: 380px;
 margin-top: 20px;
}

            }